### Observations
* Players are skewed mainly Male
* Males pay less than Women for play
* Most players are 15-30 years old. Few players are 40+
* Verdict and Phantomlight are the most popular and most value driving items

In [69]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [70]:
# Get a list of all of our columns for easy reference
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [71]:
#Display total players
players= len(purchase_data["SN"].value_counts())
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
#Find/Assign calculations
Items = len(purchase_data["Item Name"].unique())
Avg_Price = purchase_data["Price"].mean()
Purchases = len(purchase_data["Item Name"])
Revenue = purchase_data["Price"].sum()

# Create new DataFrame
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [Items],
                                    "Average Price": [Avg_Price],
                                    "Number of Purchases": [Purchases],
                                    "Total Revenue": [Revenue]})
Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [73]:
#Find/Assign Calculations
gender = purchase_data[["SN", "Gender"]]
gender.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [74]:
#create genders
gender = gender.drop_duplicates()

counts = gender["Gender"].value_counts()

total_counts = [counts[0],counts[1],counts[2]]
percents = [round((counts[0]/players)*100,2),round((counts[1]/players)*100,2),round((counts[2]/players)*100,2)]

In [75]:
# new dataframe
gender_df = pd.DataFrame({ "Percentage of Players": percents,"Total Count": total_counts
})
gender_df.index = (["Male", "Female", "Other"])
gender_df

        Percentage of Players  Total Count
Male                    84.03          484
Female                  14.06           81
Other                    1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
#Group by gender
gender = purchase_data.groupby(["Gender"])

In [77]:
#Basic Calculations
Purchase_Count = gender["SN"].count()
Purchase_Price = gender["Price"].mean()
Per_Person = gender["Price"].sum()

In [78]:
#Another Dataframe
Gender_Analysis = pd.DataFrame({"Purchase Count": Purchase_Count,
                              "Avg. Purchase Price": Purchase_Price,
                              "Avg. Purchase Value": Per_Person})

Gender_Analysis

,Purchase Count,Avg. Purchase Price,Avg. Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [90]:
# Create Bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#And Another Dataframe
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group =purchase_data.groupby("Age Demographics")

demographic_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [96]:
#groupby age
PA_DF = purchase_data.groupby("Age Demographics")
PA_DF_Count=PA_DF["SN"].nunique()
PA_DF_Count

Age Demographics
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [101]:
#calculations
AgePurchaseCount=PA_DF["Purchase ID"].count()
AgePurchaseAvg=PA_DF["Price"].mean()
AgeTotalValue=PA_DF["Price"].sum()
AgeTotalPerAvg= AgeTotalValue / PA_DF_Count

#new dataframe for calcs
AgeData_df = pd.DataFrame({"Total Purchase": AgePurchaseCount,
                          "Average Purchase Price": AgePurchaseAvg,
                          "Total Value": AgeTotalValue,
                          "Average Price Per Person": AgeTotalPerAvg})

AgeData_df

,Total Purchase,Average Purchase Price,Total Value,Average Price Per Person
Age Demographics,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
top_spenders = purchase_data['Item ID'].groupby(purchase_data['SN']).count()

# new dataframe
top_spenders= pd.DataFrame(data=top_spenders)
top_spenders.columns = ['Purchase Count']

top_spenders['Average Purchase Price'] = round(purchase_data['Price'].groupby(purchase_data['SN']).mean(),2)
top_spenders['Total Purchase Value'] = purchase_data['Price'].groupby(purchase_data['SN']).sum()

top_spenders.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [65]:

#define most items 
most_items = purchase_data.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])
most_items.columns = ['Purchase Count', 'Total Purchase Value']

# set the index back at zero 
most_items.reset_index(inplace=True)
most_items.set_index(['Item ID','Item Name'] ,inplace=True)

most_items = most_items[['Purchase Count', 'Price', 'Total Purchase Value']]

most_items.head()

                            Purchase Count  Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4   1.28                  5.12
1       Crucifer                         3   3.26                  9.78
2       Verdict                          6   2.48                 14.88
3       Phantomlight                     6   2.49                 14.94
4       Bloodlord's Fetish               5   1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [66]:
#sort
most_items.sort_values(by='Total Purchase Value', ascending=False)

most_items.head()

                            Purchase Count  Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4   1.28                  5.12
1       Crucifer                         3   3.26                  9.78
2       Verdict                          6   2.48                 14.88
3       Phantomlight                     6   2.49                 14.94
4       Bloodlord's Fetish               5   1.70                  8.50